/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
  .inleiding{
    padding: 0%;
  }


/* Gallery */
.img-gallery {
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3%;
}

.gallery-title {
  padding-top: 55px;
  padding-bottom: 50px;
  background: #000000;
}

.gallery {
  margin-left: 70px;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  align-content: center;
  z-index: 0;
  background: #000000;
  display: inline;
}

.gallery-object {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.gallery-object:hover .overlayText {
  opacity: 1;
}

.mySlides {
  height: 600px;
  width: 300px;
  object-fit: cover;
  transition: all .4s ease-in-out;
  position: relative;
  display: block;
}

.mySlides:hover {
  transform: scale(1.02);
  width: 600px;
  opacity: 0.2;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  pointer-events: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: xx-large;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
}

/* Carousel buttons */
.nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.fas {
  font-size: 50px;
  color: black;
}

.fas:hover {
  color: #272727;
}

.fa-solid {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.nav .prev {
  left: 30px;
  display: none;
}

.nav .prev.show {
  display: block;
}

.nav .next {
  right: 30px;
}

.nav .next.hide {
  display: none;
}

/* Button */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  cursor: pointer;
  position: relative;
  justify-content: center;
  background-color: rgba(186, 84, 20, 0);
  border: 1px solid white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 2;
  color: white;
}

.button-52:after {
  content: "";
  background-color: rgb(209, 89, 55);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  z-index: -1;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  z-index: -1;
}

.conntent-box-button {
  display: relative;
  margin: auto;
}

.button-52 {
  margin-top: 5%;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* Animation */
.inleidingTextLayout {
  transform: translate(0px, 0);
  animation: animate 4s forwards;
  opacity: 100;
}

.nav-wrapper {
  transform: translate(0px, 0);
  animation: animateNav 2.5s forwards;
  opacity: 100;
}

.box-animation {
  transform: translate(0px, 0);
  animation: boxAnimation 1.5s forwards;
  opacity: 100;
}

/* Underline */
.underline {
  margin-top: 5px;
  width: 30%;
  position: absolute;
  right: 20%;
  border-bottom: 3px double #d15937;
}

/* Inleiding */
.inleiding {
  margin-top: 10%;
  text-align: center;
}

.inleidingH1Layout {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 100px;
  color: white;
  font-family: 'Monoton';
  line-height: 1;
  margin: 0;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .inleiding{
    padding: 5%;
  }
  .inleidingH1Layout {
    font-size: 60px;
  }
  .mySlides:hover {
    transform: scale(1.00);
  }

  .img-gallery {
    margin-top: 20%;
    margin-left: 0;
    margin-right: 0;
  }

  .underline {
    width: 40%;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(50% 50%);
  }

  .gallery-object {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .overlayText {
    opacity: 0.8;
    background-color: #000000;
    padding: 5%;
  }
}

@media (max-width: 480px) {
  .inleidingH1Layout {
    font-size: 40px;
  }

  .underline {
    width: 40%;
  }

  .inleiding {
    margin-top: 20%;
  }
}
